/* vw */
* {
    padding: 0;
    margin: 0;
    font-family: inherit;
}
.container {
    height: 100vh;

    /* Fonts */
    font-family: 'Raleway', sans-serif;

    /* gradient background */
    background: rgb(4,0,71);
    background: linear-gradient(45deg, rgba(4,0,71,1) 0%, rgba(0,25,134,1) 16%, rgba(0,88,180,1) 46%, rgba(3,136,205,1) 73%, rgba(0,212,255,1) 100%);
}
.controlPanel {
    padding: 14px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* CSS */
#resetKeyboard {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .45rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  margin: 15px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 15%;
}
#resetKeyboard:hover,
#resetKeyboard:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
#resetKeyboard:hover {
  transform: translateY(-1px);
}
#resetKeyboard:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.keyboardContainer {
    background:rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 85vw;
    height: 60vh;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
    cursor: default;
    user-select: none;
}

.keyboardInputWrapper {
    margin: 1vh auto;
    text-align: center;
}

#keyboardInput {
    border: none;
    border-bottom: 3px solid #fcfbff;
    border-radius: 10px;
    width: 82vw;
    padding: 10px;
    background: none;
    font-size: 2.4rem;
    text-align:center;
    color: rgb(255, 255, 255);
}

.keyboardButton {
  display: inline-block;
  background-color: rgba(212, 212, 212, 0.751);
  padding: 1.25vw;
  position:relative;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
}

.buttonPressed {
  background-color: rgba(170, 207, 255, 0.788);
}